{% load i18n %}

<nav class="navbar">
    <div class="navbar-left">
        <div class="toggle-sidebar">
            <i class="fas fa-bars"></i>
        </div>
    </div>

    <div class="navbar-right">
        <a href="#" class="nav-icon">
            <i class="fas fa-home"></i>
        </a>
        <a href="#" id="reportErrorBtn" class="nav-icon" title="{% trans 'Hata Bildir' %}">
            <i class="fas fa-exclamation-triangle"></i>
        </a>
        <div class="user-profile">
            <div class="avatar">
                {% if request.user.is_authenticated %}
                    {% if request.user.student_profile.profile_picture %}
                        <img src="{{ request.user.student_profile.profile_picture.url }}" alt="{{ request.user.get_full_name|default:request.user.username }}">
                    {% elif request.user.teacher_profile.profile_picture %}
                        <img src="{{ request.user.teacher_profile.profile_picture.url }}" alt="{{ request.user.get_full_name|default:request.user.username }}">
                    {% else %}
                        <img src="/static/images/admin.png" alt="{{ request.user.get_full_name|default:request.user.username }}">
                    {% endif %}
                {% else %}
                    <img src="/static/images/admin.png" alt="Kontrol Paneli">
                {% endif %}
            </div>
            <div class="user-info">
                <span class="user-name">{{ request.user.get_full_name|default:request.user.username }}</span>
                {% if request.user.is_authenticated %}
                    {% if request.user.student_profile %}
                        <span class="user-role">{{ request.user.student_profile.get_role_display }}</span>
                    {% elif request.user.teacher_profile %}
                        <span class="user-role">{{ request.user.teacher_profile.get_role_display }}</span>
                    {% elif request.user.is_staff %}
                        <span class="user-role">Yönetici</span>
                    {% else %}
                        <span class="user-role">Öğrenci</span>
                    {% endif %}
                {% else %}
                    <span class="user-role">Misafir</span>
                {% endif %}
            </div>
        </div>
    </div>
</nav>